.product-detail {
    height: calc(100vh - 77px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 0 100px;
}

.product-detail > .text-row {
    padding-left: 40px;
    font-weight: 300;
    margin-bottom: 10px;
}

.product-detail > .row > .product-detail__category {
    font-size: 11px;
}

.product-detail > .row > .product-detail__title {
    margin-bottom: 15px;
}

.product-detail > .row > .product-detail__description {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
}

.product-detail > .row > .product-detail__rating {
    display: flex;
}

.product-detail > .row > .product-detail__price {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

.product-detail > .row > .product-detail__rating .product-detail__count {
    padding-left: 10px;
}

.product-detail > .row > .product-detail__image {
    height: 550px;
    min-width: 350px;
    max-width: 550px;
}

.product-detail > .row > .product-detail__add-to-cart {
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
}

.product-detail > .row > .product-detail__add-to-cart:hover {
    cursor: pointer;
    background: rgba(256,256,256,0.1);
}
