header.header {
    background: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 77px;
}

header.header > .logo-link {
    text-decoration: none;
    color: #000000;
}

header.header > .navbar-nav {
    display: flex;
    flex-direction: row;
}

header.header > .navbar-nav > li {
    list-style: none;
    padding: 0 0.75rem;
}

header.header > .navbar-nav > li > a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

header.header > .navbar-nav > li > a.active {
    font-weight: 800;
    border-bottom: 1px solid #000000;
}
