header.header {
    background: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 77px;
}

header.header > .logo-link {
    text-decoration: none;
    color: #000000;
}

header.header > .navbar-nav {
    display: flex;
    flex-direction: row;
}

header.header > .navbar-nav > li {
    list-style: none;
    padding: 0 0.75rem;
}

header.header > .navbar-nav > li > a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

header.header > .navbar-nav > li > a.active {
    font-weight: 800;
    border-bottom: 1px solid #000000;
}

header.header > .cart {
    position: relative;
}

header.header > .cart:hover {
    cursor: pointer;
}

header.header > .cart > .count {
    position: absolute;
    background: #CAAFA8;
    color: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: -10px;
}
